.search-comp {
  pointer-events: auto;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
  margin: 1rem 16px 0;
}

.search-bar {
  grid-column: 1/-1;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  height: 3rem;
  padding: 0.5rem 1rem;
  anchor-name: --anchor-search-bar;
}

.search-input {
  flex-grow: 1;
}

.search-bar__control, .search-bar__submit {
  flex-shrink: 0;
}

.search-list {
  pointer-events: auto;
  display: none;
  position: fixed;
  position-anchor: --anchor-search-bar;
  position-area: bottom span-all;
  width: anchor-size(--anchor-search-bar);
  background-color: aquamarine;
}

.search-list__recent {
  display: none;
}
.search-list__recent p {
  padding: 1rem 1.75rem;
}
.search-list__recent ul {
  padding: 0 1.75rem;
}
.search-list__recent ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-list__recent ul li span {
  margin-left: 1rem;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid black;
}

.search-list__suggest {
  display: none;
}
.search-list__suggest ul {
  padding: 0 3.5rem;
}
.search-list__suggest ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-list__suggest ul li span {
  /*No margin for icons*/
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid black;
}

.search-list__recent li:last-child span, .search-list__suggest li:last-child span {
  border-bottom: none;
}

.information-layer:has(.search-input:focus:-moz-placeholder) {
  pointer-events: auto;
  height: 100dvh;
  background-color: white;
}

.information-layer:has(.search-input:focus:placeholder-shown) {
  pointer-events: auto;
  height: 100dvh;
  background-color: white;
}
.information-layer:has(.search-input:focus:-moz-placeholder) .search-bar__control1 img {
  content: url(../../assets/icons/arrow-left24-2.svg);
}
.information-layer:has(.search-input:focus:placeholder-shown) .search-bar__control1 img {
  content: url(../../assets/icons/arrow-left24-2.svg);
}
.information-layer:has(.search-input:focus:-moz-placeholder) .search-bar__control2 img {
  content: url(../../assets/icons/x24-2.svg);
}
.information-layer:has(.search-input:focus:placeholder-shown) .search-bar__control2 img {
  content: url(../../assets/icons/x24-2.svg);
}
.information-layer:has(.search-input:focus:-moz-placeholder) .search-list {
  display: block;
}
.information-layer:has(.search-input:focus:placeholder-shown) .search-list {
  display: block;
}
.information-layer:has(.search-input:focus:-moz-placeholder) .search-list .search-list__recent {
  display: block;
}
.information-layer:has(.search-input:focus:placeholder-shown) .search-list .search-list__recent {
  display: block;
}

.information-layer:has(.search-input:focus:not(:-moz-placeholder)) {
  pointer-events: auto;
  height: 100dvh;
  background-color: white;
}

.information-layer:has(.search-input:focus:not(:placeholder-shown)) {
  pointer-events: auto;
  height: 100dvh;
  background-color: white;
}
.information-layer:has(.search-input:focus:not(:-moz-placeholder)) .search-bar__control1 img {
  content: url(../../assets/icons/arrow-left24-2.svg);
}
.information-layer:has(.search-input:focus:not(:placeholder-shown)) .search-bar__control1 img {
  content: url(../../assets/icons/arrow-left24-2.svg);
}
.information-layer:has(.search-input:focus:not(:-moz-placeholder)) .search-bar__control2 img {
  content: url(../../assets/icons/x24-2.svg);
}
.information-layer:has(.search-input:focus:not(:placeholder-shown)) .search-bar__control2 img {
  content: url(../../assets/icons/x24-2.svg);
}
.information-layer:has(.search-input:focus:not(:-moz-placeholder)) .search-list {
  display: block;
}
.information-layer:has(.search-input:focus:not(:placeholder-shown)) .search-list {
  display: block;
}
.information-layer:has(.search-input:focus:not(:-moz-placeholder)) .search-list .search-list__suggest {
  display: block;
}
.information-layer:has(.search-input:focus:not(:placeholder-shown)) .search-list .search-list__suggest {
  display: block;
}
.information-layer:has(.search-input:focus:not(:-moz-placeholder)) .search-list .search-list__recent {
  display: none;
}
.information-layer:has(.search-input:focus:not(:placeholder-shown)) .search-list .search-list__recent {
  display: none;
}/*# sourceMappingURL=search.css.map */